/* universal selector */

* {
    font-family: fantasy;
}

/* type selector */

main {
    background-color: antiquewhite;
}

p {
    font-size: 22px;
}

/* class selector */

.yellow-background {
    background-color: yellow !important;
}

.blue-text {
    color: blue;
}

/* Id selectors */

#links {
    font-size: 14px;
}

/* child selector */

section > p {
    background-color: aqua;
}

section > p > span {
    font-size: 32px;
}

/* descendant selector */

main li {
    color: violet;
}

/* adjacent sibling selector */

h1 + span {
    font-size: 18px;
}

/* general sibling selector */

h1 ~ ul { 
    background-color: yellowgreen;
}

.red-background {
    background-color: red;
}

/* RGB color */

.rgb-bg-color {
    background-color: rgb(167, 23, 44);
}

.rgb-bg-color {
    background-color: rgb(167, 23, 44, 0.3);
}

/* Hex color */

.hex-bg-color {
    background-color: #ee3e80;
}

/* HSL color */

.hsl-text-color {
        color: hsl (0%, 0%, 78%);
        background-color: hsla (0%, 40%, 45%, 0.3);
}

